@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
  --medium-spring-green: #2afc98ff;
  --caribbean-green: #15c7a3ff;
  --paolo-veronese-green: #319c76ff;
  --independence: #383b53ff;
  --manatee: #9499a9ff;
  --alice-blue: #eff7ffff;
  --middle-blue: #78c4d6ff;
  --blue-munsell: #0091adff;
  --oxford-blue: #07123dff;
  --xiketic: #04091fff;
  --sage: #cdcdb0ff;
  --misty-moss: #aba361ff;

  --whitesmoke: whitesmoke;
  --white: #ffffff;
  --black: #000000;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

/******************************************************************Nav - start*/
/***********************javascript*/
.nav-shadow-on {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  transition: all 0.3s ease-in-out;
}

.nav-shadow-off {
  box-shadow: none;
  transition: all 0.3s ease-in-out;
}
/***********************javascript end*/

nav {
  background-color: var(--white);
}

.navbar-nav > li {
  font-size: 110%;
}

.navbar-nav li a {
  color: var(--oxford-blue);
  text-shadow: 1px 1px 1px var(--whitesmoke);
}

.navbar-nav li a:hover {
  color: var(--paolo-veronese-green);
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}

/*********ham menu*/
button.navbar-toggler {
  height: 40px;
  width: 40px;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

button.navbar-toggler:focus {
  box-shadow: none;
}

span.bar {
  height: 3px;
  width: 30px;
  background-color: var(--oxford-blue);
  transition: all .25s ease-in-out;
  display: block;
}

.x:nth-of-type(1) {
  transition: all 100ms ease-in-out;
  transform: translate(5px) rotate(45deg);
  transform-origin: top left;
  transition: all .25s ease-in-out;
}

.x:nth-of-type(2) {
  transition: all 100ms ease-in-out;
  transform-origin: center;
  width: 0;
  transition: all .25s ease-in-out;
}

.x:nth-of-type(3) {
  transition: all 100ms ease-in-out;
  transform: translate(5px) rotate(-45deg);
  transform-origin: bottom left;
  transition: all .25s ease-in-out;
}
/*********ham menu - end*/
/******************************************************************Nav - end*/

/******************************************************************Home - start*/


/******************************************************************Home - end*/



/******************************************************************Footer - start*/
footer {
  background-color: var(--oxford-blue);
  color: var(--white);
}
.text-small {
  font-size: 80%;
}

a {
  text-decoration: none;
}

footer a {
  color: var(--white);
}

footer a i {
  font-size: 2rem;
}

footer a:hover {
  color: var(--medium-spring-green);
  transition: all 0.2s ease-in-out;
}

footer a img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

#footer-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
/******************************************************************Footer - end*/


/******************************************************************Special components*/
form {
  border-radius: 12px;
}

.carousel-item {
  height: 40vh;
}

button {
  border-radius: 12px !important;
}