@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;600&family=Roboto:wght@400;700&display=swap');

:root {
/* CSS HEX */
--oxford-blue: #07123dff;
--blue-munsell: #04899eff;
--dark-turquoise: #02c4cfff;
--aqua: #00ffffff;
--sea-green-crayola: #1cffd5ff;
--medium-spring-green: #38ffaaff;
--emerald: #00d580ff;
--yellow-green-color-wheel: #00aa00ff;
--illuminating-emerald: #208974ff;
--green: #00ff00ff;
}

* {
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Dosis', sans-serif;
}
/*******************************************************Nav bar*/
header {
    height: fit-content;
    width: 100%;
    position: fixed;
    z-index: 1;
}

.navbar {
    height: fit-content;
    background-color: white;
}

.navbar-nav {
    margin: 0 20px;
}

.nav-link {
    width: 80px;
    color: var(--oxford-blue);
    margin: 0 10px;
}

.active,
.nav-link:hover {
    font-weight: 700;
    font-size: 110%;
    color: var(--blue-munsell);
}

.navbar-brand {
    height: 100%;
}

.main-slogan {
    width: 290px;
    height: 80px;
    position: relative;
    top: 0;
    left: 0;
    background: url('../images/cropped-logo_large400.png') no-repeat center center;
    background-size: cover;
}

.navbar-collapse {
    position: relative;
    top: 20px;
    transition: all 0.3s;
}

.navbar-toggler {
    width: 45px;
    height: 45px;
    border: 2px solid var(--oxford-blue);
    position: relative;
}

.fa-bars,
.fa-x {
    width: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: var(--oxford-blue);
    font-size: 2.1rem;
}

/*********************************************************Special classes*/
.d-hidden {
    display: none !important;
}

.btn--blue {
    border-radius: 23px;
    color: var(--aqua);
    font-weight: 500;
    background-color: var(--oxford-blue);
    margin: 0 20px;
}

.btn--blue:hover {
    color: var(--oxford-blue);
    background-color: var(--medium-spring-green);
}

.login-op {
    position: absolute;
    right: 0;
}

.contact {
    text-shadow: none;
}

.contact .btn--blue {
    font-size: 1.2rem;
}

.my-4 {
    width: 100px;
    height: 3px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--medium-spring-green);
    border-radius: 23px;
}
/************************************************************Landing page*/

.hero-bg {
    position: relative;
    top: 0;
    width: 100%;
    min-height: 100vh;
    background: url('../images/hero-1.jpg') no-repeat center center;
    background-size: cover;
    background-color: white;
    background-blend-mode: hard-light;
    background-attachment: fixed;
}

.main-hero-row {
    position: relative;
    top: 20vh;
    left: 50px;
    color: var(--oxford-blue);
    text-align: center;
}

.main-hero-row .jumbotron {
    width: 50%;
    background-color: transparent;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.slogan {
    width: 90%;
}

/***************************************************** Testimonials */
.testimonials-section {
    min-height: 50vh;
    width: 100%;
    text-align: center;
    position: relative;
    padding-top: 50px;
    overflow: hidden;
    background-color: var(--sea-green-crayola);
}

#testimonials-carousel {
    min-height: max-content;
    width: 50%;
    border-radius: 8px;
    padding-top: 32px;
    color: var(--oxford-blue);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#testimonials-carousel  h1 {
    color: white;
    text-shadow: 1px 1px 4px var(--oxford-blue);
}

.testimonials {
    min-height: 250px;
}
.testimonials .lead,
.testimonials .lead-author {
    width: 60%;
    color: var(--oxford-blue);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.carousal-pos {
    position: relative;
    bottom: 0;
}

.carousel-control-prev .fa-circle-left 
.fa-circle-right {
    color: var(--oxford-blue);
    font-size: 32px;
}

.carousal-indicators {
    position: relative;
    bottom: -100px;
}
/*****************************************************Media Queries */
@media screen and (max-width: 991px){
    .login-op {
        position: relative;
        left: 0;
    }

    .navbar-collapse {
        top: 0px;
    }

    .main-hero-row {
        top: 80px;
    }

    .main-hero-row .jumbotron,
    #testimonials-carousel {
        width: 90%;
    }
}
