:root {
/* CSS HEX */
--oxford-blue: #07123dff;
--blue-munsell: #04899eff;
--dark-turquoise: #02c4cfff;
--aqua: #00ffffff;
--sea-green-crayola: #1cffd5ff;
--medium-spring-green: #38ffaaff;
--emerald: #00d580ff;
--yellow-green-color-wheel: #00aa00ff;
--illuminating-emerald: #208974ff;
--green: #00ff00ff;
}

